<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>登录页面</title>
        <style>
               .login-box{
                margin: auto;
                text-align: center;
                width: 50%;
                border: 3px solid green;
                padding: 30px;
                margin-top: 18%;
               }
        </style>
    </head>
    <body>
        <div class="login-box">
            <form id="loginForm">
                <div>
                    <label>username:</label>
                    <input type="text" id="txtUsername" name="username" value=""/>
                </div>
                <div>
                    <label>password:</label>
                    <input type="password" id="txtPassword" name="password" value=""/>
                </div>
                <div>
                    <button type="button" id="submitBtn">登录</button>
                </div>
            </form>
        </div>
    </body>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/jssha1.js"></script>
    <script>
        $('#submitBtn').click(function(){
            if($.trim($('#txtUsername').val()).length == 0){
                alert('请输入username');
                return
            }
            if($.trim($('#txtPassword').val()).length == 0){
                alert('请输入password');
                return
            }
            var shalpassword = hex_sha1($('#txtPassword').val());
            console.log(shalpassword);
            shalpassword = b64_sha1(shalpassword);
            console.log(shalpassword);
            $.ajax({
                url:"/api/login",
                method:"POST",
                dataType:"json",
                data:{
                    username:$('#txtUsername').val(),
                    password:shalpassword
                },
                success:function(data){
                    console.log(data);
                    if(data.code != 200){
                        alert(data.msg)
                        return
                    }else{
                        window.location.href="/files/";
                    }
                }
            })
        });
    </script>
</html>